{% extends "base.html.twig" %}

{% block title %}Véhicules > Ajouter une photo à un véhicule{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset("vendors/css/dropify.min.css") }}" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ asset('vendors/js/dropify.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset("js/global_validation.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/pages/vehicles_form.js") }}"></script>
{% endblock %}

{% block body %}
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading"><div>Ajout d'une nouvelle photo pour un véhicule</div></div>
        </div>
    </div>
    <form method="post" action="{{ path("vehicles_addphoto_submit", {id: vehicleid}) }}" enctype="multipart/form-data" id="vehiclephoto-form">
        <div class="row">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-header">
                        Photo
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="position-relative form-group">
                                    <input type="file" name="photo" id="photo" class="dropify" data-height="250" data-show-remove="false" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="position-relative form-group">
                                     <button type="submit" class="btn btn-block btn-primary">Ajouter la photo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}