{% extends "base.html.twig" %}

{% block title %}Véhicules > Édition d'un véhicule{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset("vendors/css/dropify.min.css") }}" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ asset('vendors/js/dropify.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset("js/global_validation.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/pages/vehicles_form.js") }}"></script>
{% endblock %}

{% block body %}
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    Édition d'un véhicule
                    <div class="page-title-subheading">
                        {{ vehicle.brand }} {{ vehicle.model }} | Immatriculation : {{ vehicle.numberplate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form method="post" action="{{ path("vehicles_edit_submit", { id: vehicle.numberplate }) }}" enctype="multipart/form-data" id="vehicle-form">
        <div class="row">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-header">
                        Informations de base
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="position-relative form-group">
                                    <label for="photo">Ajouter une nouvelle photo</label>
                                    <input type="file" name="photo" id="photo" class="dropify" data-height="250" data-show-remove="false" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="marque">Marque</label>
                                    <input name="marque" id="marque" placeholder="Marque" type="text" class="form-control" value="{{ vehicle.brand }}" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="modele">Modèle</label>
                                    <input name="modele" id="modele" placeholder="Modèle" type="text" class="form-control" value="{{ vehicle.model }}" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="immat">Immatriculation</label>
                                    <input name="immat" id="immat" placeholder="Immatriculation" type="text" class="form-control" value="{{ vehicle.numberplate }}" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="datefabrication">Date de fabrication</label>
                                    <input name="datefabrication" id="datefabrication" type="date" class="form-control" value="{{ vehicle.manufactureDate|date("Y-m-d") }}" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="position-relative form-group">
                                    <label for="agence">Agence gérant le véhicule</label>
                                    <div class="position-relative form-group">
                                        <select type="select" id="agence" name="agence" class="custom-select">
                                            {%for agence in agences %}
                                                <option value="{{ agence.getId() }}" {% if vehicle.agence.id is same as(agence.id) %}selected{% endif %}>{{ agence.getNomAg() }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="position-relative form-group">
                                    <label for="statut">Statut actuel du véhicule</label>
                                    <div class="position-relative form-group">
                                        <select type="select" id="statut" name="statut" class="custom-select">
                                            {% for state in status %}
                                                <option value="{{ state.id }}" {% if vehicle.status.id is same as(state.id) %}selected{% endif %}>{{ state.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-header">
                        Détails techniques
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="hauteur">Hauteur</label>
                                    <div class="input-group">
                                        <input placeholder="1,00" type="number" min="1" step="0.01" class="form-control" id="hauteur" name="hauteur" value="{{ vehicle.height }}" />
                                        <div class="input-group-append"><span class="input-group-text">mètre(s)</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="largeur">Largeur</label>
                                    <div class="input-group">
                                        <input placeholder="1,00" type="number" min="1" step="0.01" class="form-control" id="largeur" name="largeur" value="{{ vehicle.width }}" />
                                        <div class="input-group-append"><span class="input-group-text">mètre(s)</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="poids">Poids</label>
                                    <div class="input-group">
                                        <input placeholder="1,00" type="number" min="1" step="0.01" class="form-control" id="poids" name="poids" value="{{ vehicle.weight }}" />
                                        <div class="input-group-append"><span class="input-group-text">tonne(s)</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="puissance">Puissance</label>
                                    <div class="input-group">
                                        <input placeholder="1" type="number" min="1" class="form-control" id="puissance" name="puissance" value="{{ vehicle.power }}" />
                                        <div class="input-group-append"><span class="input-group-text">ch</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-header">
                        Finaliser l'édition
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="position-relative form-group">
                                     <button type="submit" class="btn btn-block btn-primary">Enregistrer les modifications apportées au véhicule</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}