{% extends "base.html.twig" %}

{% block title %}Véhicules > Liste des véhicules{% endblock %}

{% block css %}{% endblock %}

{% block js %}
    {{ encore_entry_script_tags('vehicleEnabledList') }}
{% endblock %}

{% block body %}
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading"><div>Liste des véhicules</div></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-3">
                <div class="card-header">
                    Filtrer la liste des véhicules
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <div class="position-relative form-group">
                                    <select type="select" id="marque" name="marque" class="custom-select" required>
                                        <option value="" hidden>Marque</option>
                                        <option value="Audi">Audi</option>
                                        <option value="Ford">Ford</option>
                                        <option value="Peugeot">Peugeot</option>
                                        <option value="Renault">Renault</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <div class="position-relative form-group">
                                    <select type="select" id="agence" name="agence" class="custom-select" required>
                                        <option value="" hidden>Agence</option>
                                        {%for agence in agences %}
                                            <option value="{{ agence.getId() }}">{{ agence.getNomAg() }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="position-relative form-group form-inline">
                                    <label for="puissance">Puissance</label>
                                    <input type="range" min="90" max="540" value="90" class="form-control-range" id="puissance" name="puissance" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2">
                                <div class="position-relative form-group">
                                    <a href="{{ path("vehicles_list_search") }}" class="btn btn-block btn-primary">Filtrer</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-3">
                <div class="card-header justify-content-between">
                    Véhicules enregistrés
                    <div class="float-sm-right w-auto text-right">
                        <a href="{{ path("vehicles_list_disabled") }}" class="btn btn-primary m-0">Voir les véhicules désactivés</a>
                    </div>
                </div>
                <div class="card-body">
                    {% if vehicles|length > 0 %}
                        <div class="table-responsive">
                            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                <thead>
                                <tr>
                                    <th class="text-center">Photo</th>
                                    <th class="text-center">Immatriculation</th>
                                    <th class="text-center">Marque</th>
                                    <th class="text-center">Modèle</th>
                                    <th class="text-center">Date de fabrication</th>
                                    <th class="text-center">Hauteur</th>
                                    <th class="text-center">Largeur</th>
                                    <th class="text-center">Poids</th>
                                    <th class="text-center">Puissance</th>
                                    <th class="text-center">Agence</th>
                                    <th class="text-center">Statut</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                                </thead>
                                <tbody id="vehiclesenabledlist"></tbody>
                            </table>
                        </div>
                    {% else %}
                        <p class="text-center">Aucun véhicule n'est actuellement activé.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}