{% extends "base.html.twig" %}

{% block title %}Véhicules > Détail du véhicule immatriculé FS-483-AH{% endblock %}

{% block css %}{% endblock %}

{% block js %}{% endblock %}

{% block body %}
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    Détail d'un véhicule
                    <div class="page-title-subheading">
                        Peugeot 207 | Immatriculation : {{ vehicle.numberplate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card mb-3">
                <div class="card-header">
                    Photo
                </div>
                <div class="card-body">
                    <img src="{{ asset('img/vehicles/' ~ vehicle.photo) }}" alt="" width="100%" height="auto" />
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-9">
            <div class="card mb-3">
                <div class="card-header">
                    Informations
                </div>
                <div class="card-body">
                    <h6 class="font-weight-bold">{{ vehicle.brand }} {{ vehicle.model }}</h6>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 mb-0">
                            <p>
                                Immatriculation : {{ vehicle.numberplate }}
                                <br />
                                Date de fabrication : {{ vehicle.manufactureDate|date("d/m/Y") }}
                            </p>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <p>
                                Agence gérant le véhicule : {{ vehicle.getAgence().getNomAg() }}
                                <br />
                                <span class="badge badge-dark">Statut non géré</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    Détails techniques
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 mb-0">
                            <p>
                                Hauteur : {{ vehicle.height }} m
                                <br />
                                Largeur : {{ vehicle.width }} m
                            </p>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <p>
                                Poids : {{ vehicle.weight }} tonnes
                                <br />
                                Puissance : {{ vehicle.power }} ch
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}