{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block css %}{% endblock %}

{% block js %}{% endblock %}

{% block body %}
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading"><div>Accueil</div></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="card mb-3 widget-content bg-primary">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Véhicules</div>
                        <div class="widget-subheading"></div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>{{ vehicles.count }}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="card mb-3 widget-content bg-primary">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Agents</div>
                        <div class="widget-subheading"></div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>{{ agents.count }}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="card mb-3">
                <div class="card-header justify-content-between">
                    Véhicules récemment modifiés
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">Photo</th>
                                    <th class="text-center">Immatriculation</th>
                                    <th class="text-center">Marque</th>
                                    <th class="text-center">Modèle</th>
                                    <th class="text-center">Date de fabrication</th>
                                    <th class="text-center">Statut</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if vehicles.list|length > 0 %}
                                    {% for vehicle in vehicles.list %}
                                        <tr>
                                            <td class="text-center">
                                                {% if vehicle.photos|length > 0 %}
                                                    <img src="{{ asset("img/vehicles/" ~ vehicle.photos|first) }}" alt="" width="100px" height="auto" class="rounded-circle" />
                                                {% else %}
                                                    Pas de photo
                                                {% endif %}
                                            </td>
                                            <td class="text-center">{{ vehicle.numberplate }}</td>
                                            <td class="text-center">{{ vehicle.brand }}</td>
                                            <td class="text-center">{{ vehicle.model }}</td>
                                            <td class="text-center">{{ vehicle.manufactureDate|date("d/m/Y") }}</td>
                                            <td class="text-center"><span class="badge badge-{{ vehicle.status.color }}">{{ vehicle.status.name }}</span></td>                         
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="main-card mb-3 card">
                <div class="card-header justify-content-between">
                    Agents récemment modifiés
                </div>
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Photo</th>
                                <th class="text-center">Identité</th>
                                <th class="text-center">Nom d'utilisateur</th>
                                <th class="text-center">Statut</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for agent in agents.list %}
                            <tr>
                                <td class="text-center"><img src="{{ asset("img/agents/" ~ agent.photo) }}" alt="" class="rounded-circle" width="50px" height="auto" /></td>
                                <td class="text-center">{{ agent.lastname }} {{ agent.firstname }}</td>
                                <td class="text-center">{{ agent.username }}</td>
                                {% if agent.isActivated  %}
                                    <td class="text-center"><span class="badge badge-success">Actif</span></td>
                                {% else %}
                                    <td class="text-center"><span class="badge badge-danger">Désactivé</span></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}