<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Nom du site | {% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Language" content="en" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
        <meta name="description" content="This is an example dashboard created using build-in elements and components." />
        <meta name="msapplication-tap-highlight" content="no" />
        <link rel="stylesheet" type="text/css" href="{{ asset("css/architectui.css") }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset("css/custom.css") }}" />
        {% block css %}{% endblock %}
    </head>
    <body>
        <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
            {% include "includes/header.html.twig" %}
            {% include "includes/themeconfig.html.twig" %}
            <div class="app-main">
                {% include "includes/menu.html.twig" %}
                <div class="app-main__outer">
                    <div class="app-main__inner">
                        {% block body %}{% endblock %}
                    </div>
                    <div class="app-wrapper-footer">
                        <div class="app-footer">
                            <div class="app-footer__inner">
                                {% include "includes/footer.html.twig" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ asset("vendors/js/jquery.min.js") }}"></script>
        <script type="text/javascript" src="{{ asset("js/architectui.js") }}"></script>
        <script src="{{ asset("vendors/js/toastr.min.js") }}"></script>
        {% include "includes/alerts.html.twig" %}
        {% block js %}{% endblock %}
    </body>
</html>