{% extends "base.html.twig" %}

{% block title %}Agents > Liste des agents désactivés{% endblock %}

{% block css %}{% endblock %}

{% block js %}{% endblock %}

{% block body %}
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading"><div>Liste des agents désactivés</div></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-header justify-content-between">
                    Agents désactivés
                </div>
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Identité</th>
                                <th class="text-center">Nom d'utilisateur</th>
                                <th class="text-center">Statut</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                {% if allAgents|length > 0 %}
                                {% for agent in allAgents  %}
                                    <tr>
                                <td class="text-center">
                                            <div class="widget-content-left flex2">
                                                <div class="widget-heading">{{ agent.lastname }} {{ agent.firstname }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                        <td class="text-center">{{ agent.username }}</td>
                                        <td class="text-center"><span class="badge badge-danger">Désactivé</span></td>
                                        <td class="text-center">
                                        <a href="{{ path("agents_view", {id:agent.id}) }}" class="btn btn-primary btn-sm rounded-circle" title="Voir le détail de cet agent">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                        <a href="{{ path("agents_edit", {id:agent.id}) }}" class="btn btn-primary btn-sm rounded-circle" title="Éditer cet agent">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a href="{{ path("agents_enable", {id:agent.id}) }}" class="btn btn-success btn-sm rounded-circle" title="Activer cet agent">
                                            <i class="fas fa-check"></i>
                                        </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}