{% extends "base.html.twig" %}

{% block title %}Agents > Liste des agents{% endblock %}

{% block css %}{% endblock %}

{% block js %}{% endblock %}

{% block body %}
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading"><div>Liste des agents</div></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-header justify-content-between">
                    Agents enregistrés
                    <div class="float-sm-right w-auto text-right">
                        <a href="{{ path("agents_disabled") }}" class="btn btn-primary m-0">Voir les agents désactivés</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Identité</th>
                                <th class="text-center">Nom d'utilisateur</th>
                                <th class="text-center">Statut</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for agent in allAgents  %}
                                <tr>
                                    <td class="text-center">{{ agent.lastname }} {{ agent.firstname }}</td>
                                    <td class="text-center">{{ agent.username }}</td>
                                    <td class="text-center"><span class="badge badge-success">Actif</span></td>
                                    <td class="text-center"><a href="{{ path("agents_view", {id:agent.id}) }}" class="btn btn-primary btn-sm rounded-circle"><i class="fas fa-eye"></i></a>
                                        <a href="{{ path("agents_edit", {id:agent.id}) }}" class="btn btn-primary btn-sm rounded-circle"><i class="fas fa-edit"></i></a>
                                        <a href="{{ path("agents_disable", {id:agent.id}) }}" class="btn btn-danger btn-sm rounded-circle"><i class="fas fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}