{% extends "base.html.twig" %}

{% block title %}Édition du profil{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset("vendors/css/dropify.min.css") }}" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ asset('vendors/js/dropify.min.js') }}"></script>
    <script>
        $('.dropify').dropify({
            messages: {
                'default': 'Déposez une photo ou cliquez ici pour en sélectionner une',
                'replace': 'Déposez une photo ou cliquez ici pour remplacer la photo',
                'error':   'Une erreur est survenue. Veuillz réessayer plus tard.'
            }
        });
    </script>
{% endblock %}

{% block body %}
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    Éditer votre profil
                </div>
            </div>
        </div>
    </div>
    <form method="post" action="{{ path("profile_edit_submit") }}" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-header">
                        Informations de base
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="position-relative form-group">
                                    <label for="photo" class="">Photo</label>
                                    <input type="file" name="photo" id="photo" class="dropify" data-height="250" data-show-remove="false" data-default-file="{{ asset("img/agents/" ~ profile.photo) }}" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="nom" class="">Nom</label>
                                    <input name="nom" id="nom" placeholder="Nom" type="text" class="form-control" value="{{ profile.lastname }}" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="prenom" class="">Prénom</label>
                                    <input name="prenom" id="prenom" placeholder="Prénom" type="text" class="form-control" value="{{ profile.firstname }}" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="position-relative form-group">
                                    <label for="telfixe" class="">Numéro de téléphone fixe</label>
                                    <div class="input-group">
                                        <div class="input-group-append"><span class="input-group-text">+33</span></div>
                                        <input placeholder="601234578" type="number" class="form-control" id="fixe" name="fixe" value="{{ profile.fixe }}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="position-relative form-group">
                                    <label for="tel" class="">Numéro de téléphone portable</label>
                                    <div class="input-group">
                                        <div class="input-group-append"><span class="input-group-text">+33</span></div>
                                        <input placeholder="601234578" type="number" class="form-control" id="mobile" name="mobile" value="{{ profile.mobile }}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="position-relative form-group">
                                    <label for="fax" class="">Numéro de fax</label>
                                    <div class="input-group">
                                        <div class="input-group-append"><span class="input-group-text">+33</span></div>
                                        <input placeholder="601234578" type="number" class="form-control" id="fax" name="fax" value="{{ profile.fax }}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-header">
                        Informations d'identification
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="identifiant" class="">Identifiant de connexion</label>
                                    <input name="identifiant" id="identifiant" placeholder="Identifiant" type="text" class="form-control" value="{{ profile.username }}" readonly/>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="email" class="">Adresse e-mail</label>
                                    <input name="email" id="email" placeholder="adresse@email.fr" type="email" class="form-control" value="{{ profile.email }}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-header">
                        Finaliser l'édition
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="position-relative form-group">
                                    <button type="submit" class="btn btn-block btn-primary">Enregistrer les modifications</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}