{% extends "base.html.twig" %}

{% block title %}Agences > Édition d'une agence{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset("vendors/css/dropify.min.css") }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset("vendors/css/intlTelInput.min.css") }}" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ asset('vendors/js/intlTelInput.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/js/dropify.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset("js/global_validation.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/pages/agences_form.js") }}"></script>
{% endblock %}

{% block body %}
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    Édition d'une agence
                    <div class="page-title-subheading">
                        {{ agence.getNomAg() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form method="post" action="{{ path("agences_edit_submit", {id: agence.id}) }}" enctype="multipart/form-data" id="agence-form">
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        Informations sur l'agence
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="position-relative form-group">
                                    <label for="photo" class="">Photo de l'agence</label>
                                    <input type="file" name="photo" id="photo" class="dropify" data-height="250" data-show-remove="false" data-default-file="{{ asset("img/agences/" ~ agence.imageAg) }}" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="position-relative form-group">
                                    <label for="nom" class="">Nom de l'agence</label>
                                    <input name="nom" id="nom" placeholder="Nom" type="text" class="form-control" value="{{ agence.getNomAg() }}" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="position-relative form-group">
                                    <label for="adresse" class="">Adresse</label>
                                    <input name="adresse" id="adresse" placeholder="Rue, Avenue, Boulevard..." type="text" class="form-control" value="{{ agence.getAdresseAg() }}" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="position-relative form-group">
                                    <label for="adressecomp" class="">Complément d'adresse</label>
                                    <input name="adressecomp" id="adressecomp" placeholder="Étage, Immeuble..." type="text" class="form-control" value="{{ agence.getComplementAg() }}" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="codepostal" class="">Code postal</label>
                                    <input name="codepostal" id="codepostal" placeholder="54000" type="number" min="1" class="form-control" value="{{ agence.getCodepostalAg() }}" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="ville" class="">Ville</label>
                                    <input name="ville" id="ville" placeholder="Nancy" type="text" class="form-control" value="{{ agence.getVilleAg() }}" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="tel" class="">Numéro de téléphone</label>
                                    <input type="tel" id="tel" name="tel" value="{{ agence.getNumero() }}" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="fax" class="">Numéro de fax</label>
                                    <input type="tel" id="fax" name="fax" value="{{ agence.getFaxAg() }}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-header">
                        Finaliser l'édition
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="position-relative form-group">
                                    <button type="submit" class="btn btn-block btn-primary">Enregistrer les modifications apportées à l'agence</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}